.layout {
  background-color: hsl(235, 18%, 26%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 950px) {
.layout {
  display: block;
  width: auto;
}
}